In [ ]:
import pandas as pd
import panel as pn
import hvplot.pandas
pn.extension()


df = pd.read_csv('data/ecommerce_sales_34500.csv')

df['order_date'] = pd.to_datetime(df['order_date'])

df['month'] = df['order_date'].dt.month
df['year'] = df['order_date'].dt.year

best_month = df.groupby(['year', 'month'])['total_amount'].sum().head(1)

sales_per_gender = df.groupby('customer_gender')['total_amount'].sum()

category_per_gender = df.groupby(['customer_gender', 'category'])['total_amount'].sum().reset_index()
idx = category_per_gender.groupby('customer_gender')['total_amount'].idxmax()
top_categories = category_per_gender.loc[idx]

bins = [float('-inf'), 29, 59, float('inf')]
labels = ['Young', 'Adult', 'Elderly']
df['Age_Group'] = pd.cut(x=df['customer_age'], bins=bins, labels=labels)

sales_per_age_group = df.groupby('Age_Group')['total_amount'].sum()

category_per_age_group = df.groupby(['Age_Group', 'category'])['total_amount'].sum().reset_index()
idx_age = category_per_age_group.groupby('Age_Group')['total_amount'].idxmax()
top_categories_age = category_per_age_group.loc[idx_age]



print('===================================================')
print('Melhor Mês: ')
best_month

print('===================================================')
print('Valor de Vendas por Gênero: ')
sales_per_gender

print('===================================================')
print('Categorias mais vendidas por Gênero: ')
top_categories

print('===================================================')
print('Valor de Vendas por Faixa Etária: ')
sales_per_age_group

print('===================================================')
print('Categorias mais vendidas por Faixa Etária: ')
top_categories_age

Libs instaladas com sucesso
Dataset carregado com sucesso!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34500 entries, 0 to 34499
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            34500 non-null  object
 1   customer_id         34500 non-null  object
 2   product_id          34500 non-null  object
 3   category            34500 non-null  object
 4   price               34500 non-null  float64
 5   discount            34500 non-null  float64
 6   quantity            34500 non-null  int64
 7   payment_method      34500 non-null  object
 8   order_date          34500 non-null  datetime64[ns]
 9   delivery_time_days  34500 non-null  int64
 10  region              34500 non-null  object
 11  returned            34500 non-null  object
 12  total_amount        34500 non-null  float64
 13  shipping_cost       34500 non-null  float64
 14  profit_margin       34500 non-null  float64
 15  customer_age        34500 non-null  int64
 16  customer_gender     34500 non-null  object
 17  month               34500 non-null  int32
 18  year                34500 non-null  int32
 19  Age_Group           34500 non-null  category
dtypes: category(1), datetime64[ns](1), float64(5), int32(2), int64(3), object(8)
memory usage: 4.8+ MB
===================================================
Melhor Mês:
===================================================
Valor de Vendas por Gênero:
===================================================
Categorias mais vendidas por Gênero:
===================================================
Valor de Vendas por Faixa Etária:
===================================================
Categorias mais vendidas por Faixa Etária:

/tmp/ipykernel_15563/759190992.py:26: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_per_age_group = df.groupby('Age_Group')['total_amount'].sum()
/tmp/ipykernel_15563/759190992.py:28: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  category_per_age_group = df.groupby(['Age_Group', 'category'])['total_amount'].sum().reset_index()
/tmp/ipykernel_15563/759190992.py:29: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  idx_age = category_per_age_group.groupby('Age_Group')['total_amount'].idxmax()

   Age_Group     category  total_amount
1      Young  Electronics     811397.93
8      Adult  Electronics    1900055.51
15   Elderly  Electronics     607753.06